@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Inter:wght@500&display=swap');
:root {
    --primary-color: #151673;
    --secondary-color: #4446bd;
    --accent1-color: #8486f1;
    --accent2-color: #aaabf6;

    --heading-family: 'Arvo', serif;
    --paragraph-family: 'Inter', sans-serif;
}

/* general */
*{
    padding: 0;
    border: 0;
    margin: 0;
}

body{
    font-family: var(--paragraph-family);
    min-width: 100px;
    text-align: left;
    font-size: 14.5px;
    padding: 5px;
    background-color: whitesmoke;
}

h1, h2, h3, h4, h5, h6 {
    border: 0;
    padding: 5px;
    margin: 2px;
    text-align: center;
    color: var(--primary-color);
    font-family: var(--paragraph-family);
    font-size: 1.7rem;
}

p {
    font-family: var(--paragraph-family);
    padding: 5px;
}
/*header*/
#logo-image {
    width: 120px;
    float: left;
    position: absolute;
    top: -3.5%;
    left:auto
}

header {
    background-color: var(--accent1-color);
    padding: 15px;
    border: 2px solid black;
    min-height: 45px;
    display: grid;
    grid-template-columns: 1fr 2fr;

}
.grid-item-1 {
    grid-column: 1;
}

.grid-item-2 {
    grid-column: 2;
}

nav {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item {
    width: 25%;
    min-height: 40px;
    margin: 0;
    padding: 1px;
    border: 1px solid whitesmoke;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flexbox-item-1 {
    flex-grow: 1;
}

.flexbox-item-2 {
    flex-grow: 1;
}

.flexbox-item-3 {
    flex-grow: 1;
}

.flexbox-item-4 {
    flex-grow: 1;
}

a:link {
    text-decoration: none;
    color: whitesmoke;
    padding: 5px;
    margin: 2px;
    clear: both;
}

a:visited {
    color: black;
}

/*main*/

/*article*/
h1 {
    position: absolute;
    top: 4%;
    left: 4.5%;
    color: whitesmoke;
    font-size: 2.5rem;
    text-align: center;
    width: 90%;
    background-color:
        /*rgba(132, 134, 241, 0.8);*/
        rgb(68, 70, 189, 0.8);
}

#trips-h1 {
    position: absolute;
    top: 4%;
    left: 4.5%;
    color: whitesmoke;
    font-size: 2.5rem;
    text-align: center;
    width: 90%;
    font-weight: bolder;
}

article {
    position: absolute;
    top: 23%;
    left: 4.5%;
    background-color:
        /*rgba(132, 134, 241, 0.8);*/
        rgb(68, 70, 189, 0.8);
    color: whitesmoke;
    width: 90%;
    font-size: 1.1rem;
}

#see-more {
    color: rgb(238, 191, 191);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
}

#client {
    width: auto;
    height: 20vh;
    float: right;
    margin: 3px;
    border: 2px solid var(--secondary-color);
}
/*sections*/
section {
    background-color: var(--accent2-color);
    border: 1.5px solid var(--secondary-color);
    padding: 3px;
    margin: 5px;
}

.history-grid-container {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 2px;
    align-items: center;
    justify-content: center;
}

.history-grid-item-1 {
    grid-column: 1;
    grid-row: 2;
}

.history-grid-item-2 {
    width: 250px;
    height: auto;
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
}

.history-grid-item-3 {
    grid-column: 3;
    grid-row: 2;
}

.history-grid-item-4 {
    grid-column: 2;
    grid-row: 1;
}

.representation img {
    width: 150px;
    height: auto;
    margin: 5px;
}

.representation {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    align-items: center;
    justify-content: center;

}

.representation-item-1 {
    grid-row: 1;
    grid-column: 1/6;
}
.representation-item-2 {
    grid-row: 2;
    grid-column: 1;
}
.representation-item-3 {
    grid-row: 2;
    grid-column: 2;
}
.representation-item-4 {
    grid-row: 2;
    grid-column: 3;
}
.representation-item-5 {
    grid-row: 2;
    grid-column: 4;
}

.representation-item-6 {
    grid-column: 5;
    grid-row: 2;
}

/*footer*/

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.footer-item-1 {
    grid-column: 1/3;
}
.footer-item-2 {
    grid-column: 3;
    color: 1px solid var(--primary-color);
    margin: 1px;
}

.no-bg-link:link{
    color: var(--primary-color);
}

.no-bg-link:visited {
    color: var(--secondary-color);
}

.no-bg-link img{
    width: 30px;
    height: auto;
    padding: 3px;
    margin: 2px;
}
