@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Inter:wght@500&display=swap');
:root {
    --primary-color: #18444A;
    --secondary-color: #98B39B;
    --accent1-color: #8C3E36;
    --accent2-color: #E8715E;

    --heading-family: 'Arvo', serif;
    --paragraph-family: 'Inter', sans-serif;

    --nav-background-color:var(--secondary-color);
    --nav-link-color:var(--primary-color);
    --nav-hover-link:var(--accent1-color);
    --nav-hover-background-color:var(--accent2-color)
}

body {
    font-family: var(--paragraph-family);
    max-width: 960px;
    padding: 20px;
    text-align: left;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-family);
    color: var(--primary-color);
}

h1{
    font-size: 3em;
}

header {
    padding: 5px;
    background-color: var(--secondary-color);
}

p {
    padding: 5px;
}

nav {
    background-color: var(--accent2-color);
    font-size: 1.2em;
    display:flex;
}

nav a {
    display: block;
    color: var(--accent1-color);
    text-decoration: underline;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--primary-color);
}

nav a:hover {
    color: var(--primary-color);
    background-color: var(--accent2-color);
}

