*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Main Selectors */
nav{
  background-color: steelblue;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

nav a{
  color: rgb(218, 218, 228);
  display: block;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}

h1{
  color: steelblue;
  border-bottom: 1px solid steelblue;
  margin: 5px;
  padding: 3px;
}

main img{
  width: 20%;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  min-width: 185px;
  float: right;
  margin: 18px;
}

p{
  padding: 0;
  text-align: justify;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
}

main {
  border: 2px solid lightgray;
  padding: 5px;
  grid-row: 1/4;
  grid-column: 2/5;
  /*max-width: 840px;*/
}

/*aside selectors*/
aside{
  width: 340px;
  text-align: center;
  position: relative;
  font-size: 0.95rem;
  grid-row: 1/5;
  grid-column: 1;
}

aside img{
  width: 300px;
  height: auto;
  border: 1px solid rgb(35, 64, 88);
}

aside h2{
  position: absolute;
  top: 32%;
  left: auto;
  transform: translate(20%, -878%);
  color: rgb(31, 59, 83);
}

footer{
  border-top: 1px solid #000;
  text-align: center;
  grid-row: 6;
  grid-column: 1/6;

}

a{
  color: rgb(165, 210, 221);
}
/* Class selectors*/

.box {
  margin: 1rem;
  border: none;
  padding: 1rem;
  color: rgb(207, 207, 211);
  background-color: rgb(42, 77, 106);
  border-radius: 7%;
}

header, .grid, footer{
  /*max-width: 840px;*/
  margin: o auto;
}