*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Class Selectors */
nav{
  width: 95%;
  background-color: steelblue;
  padding: 10px
}

nav a{
  color: rgb(218, 218, 228);
  display: block;
  padding: 20px;
}

main{
  margin: 10px;
  border: 2px solid lightgray;
  padding: 5px;
  /*max-width: 840px;*/
}

h1{
  color: steelblue;
}

main img{
  width: 20%;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  min-width: 185px;
  float: right;
  margin: 18px;
}

p{
  padding: 0;
  text-align: justify;
}

aside{
  width: 340px;
  text-align: center;
  position: relative;
  top: 12px;;
  left: 45%;
  font-size: 0.95rem;
}

aside img{
  width: 300px;
  height: auto;
  border: 1px solid rgb(35, 64, 88);
}

aside h2{
  position: absolute;
  top: 50%;
  left: auto;
  transform: translate(20%, -878%);
  color: rgb(31, 59, 83);
}

footer{
  margin-top: 1em;
  border-top: 1px solid #000;
  text-align: center;
}

a{
  color: rgb(165, 210, 221);
}
/* Class selectors*/

.box {
  margin: 1rem;
  border: none;
  padding: 1rem;
  color: rgb(207, 207, 211);
  background-color: rgb(42, 77, 106);
  border-radius: 7%;
  max-width: 340px;
}